body {
    margin: 100px;
    font-family: 'Poppins', sans-serif;

}

.avatar {
    width: 200px;
    border-radius: 100px;
    visibility: visible;
    box-shadow: 5px 5px 5px #809abe,
    inset 15px 15px 15px #9254C8;

}

.card {
    visibility: visible;
    width: 650px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #DAEAF1;
    color: #2b2839;
    border-bottom: 6px solid #F2D1D1;
    box-shadow: 15px 15px 15px #FFE6E6;
    border-radius: 10px;
    font-size: 20px;
}

.card:hover {
    visibility: visible;
}

.text {
    padding: 15px 0 0 0;
    line-height: 30px;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
